/* *{
    margin: 0;
    padding: 0;
} */
body{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 25%, rgba(237, 221, 83, 1) 100%);
}

.betania-patmos-in-regular {
  font-family: "Betania Patmos In";
  font-weight: 400;
  font-style: normal;
}

.plus{
    border: none;
    border-radius: 200px;
    background-color: transparent;
    
}
.sub-heading{
    color: white;
    font-size: larger
}
.sub-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 2px;
    padding: 7px;
    gap: 7px;
}


.topbar
{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #2a7b9b52;
    margin: -1rem;
}
.heading{
    font-size:2rem;
    color: white;
    font-weight: bolder;
}
.my-dialog{
    display: flex;   
    flex-direction: column;
    justify-content:center;
    align-items:end;
    gap:10px;
    margin: auto;
    padding: auto;
    color: white;
}
#my-dialog{
    background-color:#2a7b9b5a;
    border: none;
    border-radius: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: white;
    flex-wrap: wrap;
    overflow:scroll;
    width: 15%;
}
.card > button{
    align-self: self-end;
}
.delete{
    background-color: transparent;
    border: none;
    
}
.delete>img{
    filter: invert(1) brightness(0);
}