
body{
    background: #fcffc8;
    
    
}

.betania-patmos-in-regular {
  font-family: "Betania Patmos In";
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.plus{
    border: none;
    border-radius: 200px;
    background-color: transparent;
    position: relative;   
}
.sub-heading{
    color: white;
    font-size: larger;
    
}
.sub-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*! border: white solid 2px; */
    padding: 7px;
    gap: 7px;
}


.topbar
{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    background-color:#dda15e;
    margin: -1rem;
}
.heading{
    font-size:2rem;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    gap: 5px;
}
.my-dialog{
    display: flex;   
    flex-direction: column;
    justify-content:center;
    align-items:end;
    gap:10px;
    margin: auto;
    padding: auto;
    color: white;
}
#my-dialog{
    background-color:#3a2200;
    border: none;
    border-radius: 20px;
}
.card{
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:white;
    margin: 2rem;
    padding: 0.5rem;
    border-left:solid 20px rgb(79, 11, 11);
    border-radius: 20px;
    background-color:#bc6c25;
    flex-wrap: wrap;
    width: 250px;
    height: auto;
    overflow: hidden;
    
}
.card .names{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card .status{
   display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.card .title{
    font-size: x-large;
    font-weight: bold;
   
}
.card .read_status{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.card button{
    background-color: transparent;
    border:none;
}
.card img{
    filter: brightness(1);
}
.card img:hover{
    filter: invert(1);
}
.content{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}
img{
    filter: brightness(0) invert(1);
}

.plus > img{
    filter: brightness(0) invert(1);
    height: auto;
    width: 2rem;
}
.tooltip-text {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    background: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    margin-right: 8px;
}

.plus:hover .tooltip-text {
    opacity: 1;
}

.tooltip-text-clear {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(156%, -50%);
    white-space: nowrap;
    background: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    margin-right: 8px;
}

.plus:hover .tooltip-text-clear {
    opacity: 1;
}